<div class="protein-base">
    <div class="navbar-container">
        <app-navbar></app-navbar>
    </div>
    <div class="protein-container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="row basic-info-container">
                    <div class="col-md-12">
                        <div class="container3d d-flex justify-content-center align-items-center">
                            <div id="view3D" class="view3D" data-ui='true'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  