<div class="container-fluid">
    <div class="modal-header justify-content-center">
        <h2>About</h2>
    </div>
    <div class="modal-body text-center">
        <p> PPSS is a degree project focused on the exploration of patterns of protein-ligand structures using text and graphs. </p>
        <p> The web application was created by Vicente Rojas Aranda, for more information <a href="https://www.linkedin.com/in/vicente-rojas-aranda-864377132/">click here</a>. </p>
        <p> This project was created in collaboration with PhD. Renzo Angles Rojas, for more information <a href="https://renzoangles.net/wp/">click here</a>. </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="onClose()">Cancel</button>
    </div>
</div>