<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container-fluid">
        <div class="name-container text-center">
            <h3 class="name"><strong>PPSS</strong></h3>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-collapse-custom" id="navbarSupportedContent"
            [ngClass]="{ 'show': isCollapsed }">
            <ul class="navbar-nav me-auto mb- mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" role="button" (click)="openTutorialModal()">How to use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" role="button" (click)="openPatternModal()">Pattern</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" role="button" (click)="openResultsModal()">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" role="button" (click)="openAboutModal()">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>