.img-col {
    display: grid;
    place-items: center;
    padding: 15px 0;
    border-radius: 15px;
}

.under-construction-image {
    width: 15vw;
    height: auto;
}

.text-col {
    display: grid;
    place-items: center;
    padding: 15px 0;
}

.text {
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
}