<div class="container-md">
    <div class="row" form [formGroup]="minmaxForm">
        <div class="col-md-6">
            <label>Mínimo:</label>
            <input type="number" class="form-control" id="min" name="min" min="0" max="99" formControlName="min">
        </div>
        <div class="col-md-6">
            <label>Máximo</label>
            <input type="number" class="form-control" id="max" name="max" min="1" max="100" formControlName="max">
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-4">
            <button type="button" class="btn btn-outlined-primary" (click)="onClose('close')">Cancel</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="onClose('success')">Buscar</button>
        </div>
    </div>
</div>

<ngx-notifier [duration]="3000"></ngx-notifier>