<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <div class="btn-group-vertical container-buttons" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary btn-custom" (click)="action('amino')">Add Amino Acid</button>
        <button type="button" class="btn btn-outline-secondary btn-custom" (click)="action('any')">Add Any Amino Acid</button>
        <button type="button" class="btn btn-outline-secondary btn-custom" (click)="action('group')">Add Group of Aminos</button>
        <button type="button" class="btn btn-outline-secondary btn-custom" (click)="action('except')">Add Except Group of Aminos</button>
        <button type="button" class="btn btn-outline-secondary btn-custom" (click)="action('fit')">Fit Graph</button>
      </div>
</div>