<div class="main">
    <div class="navbar-container">
        <app-navbar></app-navbar>
    </div>

    <div class="custom-container">
        <div class="not-found">
            <div class="row text-center justify-content-center display-flex">
                <div class="col-md-6 error-404-img">
                    <img src="../../../assets/loadIcons/hazmat.gif" class="error-img">
                </div>
                <div class="col-md-6 error-404-text">
                    <p class="ups-text">Ups!</p>
                    <p>Can't find the page you are looking for.</p>
                </div>
            </div>
            <div class="row">
                <p>Please redirect to the home page!</p>
            </div>
            <div class="row">
                <button class="primary">Redirect</button>
            </div>
        </div>
    </div>
</div>
