.error-404-img{
    width: 30vw;
    height: auto;
    border-radius: 15px;
}

.gif-container {
    border: 10px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: black;
    box-shadow: 0 0 20px 1px black;
}

.container{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.error-404-title,
.error-404-subtitle,
.error-404-text{
    text-align: center;
    font-family: system-ui;
}

.error-404{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}